.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navSuperior{box-shadow: 0px -9px 14px 15px rgba(40, 40, 40, 0.8);
}

#card{
  height: 350px;
  width: 350px;
}
#card img{
  height: 350px;
  width: 100%;
}
#logo img{
  height: 70px;
  border-radius: 30px 6px ;
}
#logo img:hover {
  box-shadow: 3px 3px 10px rgb(79, 61, 17);
}

#buscar {
  outline: none;
}

#categorias li:hover {
  box-shadow: 1px 1px 3px rgba(56, 56, 56, 0.88);
}

#navbarSupportedContent ul #nombreUsuario h1 {
  margin: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 30px !important;
  font-family: "Concert One", cursive !important;
}
#navbarSupportedContent ul li a:hover {
  color: white;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.723) 0%, rgba(0, 241, 255, 0) 4%);
  padding-bottom: 1px solid gray;
  scale: 1.1;
}

.barraBusqueda{
  width: 90%;
  border-radius: 10px;
  border: 1px solid rgba(125, 107, 60, 0.945);
  padding: 2px 12px; 
  outline: none
}



/* --------------- Item detail ---------- */



#contePrincipal{
    width: 100vw;
    height: 90vh;}


            
#imgPrinc img{
        height: 490px ;
        width: 520px ;
        border-radius: 50px 15px !important;
        box-shadow:5px 5px 15px gray;
        
    }
            
    
    #conteDetalles{
        font-family: 'Roboto', sans-serif !important;
    }
    #conteDetalles h1{
            text-shadow: 1px  0   2px rgb(100, 100, 100) !important; 
        }
        #conteDetalles h2{
            font-size: 27px !important;
            color: rgb(9, 9, 9) !important;
            text-shadow: 1px  1px   4px rgb(58, 58, 58) !important;
        }
        #conteDetalles p{
            font-size: 15px !important;  
        }
        .comprar{
            margin: 15px 10px;
            width: 95%;
            height: 40px;
            border-radius: 8px;
            border: 0px solid;
            background-color: rgb(81, 80, 80);
            color: aliceblue;
            text-shadow: 1px  1px   15px rgb(72, 72, 72);
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
            letter-spacing: 3px;
            text-shadow: 1px 1px 15px black,1px 1px 1px black;
            &:hover{
                background-color: rgb(54, 54, 54);}
        }
        .agregarAlCarrito{
            margin: 15px 10px;
            width: 95%;
            height: 40px;
            border-radius: 8px;
            border: 0px solid;
            background-color: rgb(135, 135, 135);
            color: aliceblue;
            text-shadow: 1px  1px   15px rgb(72, 72, 72);
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
            letter-spacing: 2px;
            text-shadow: 1px 1px 15px black,1px 1px 1px black;
            &:hover{
                background-color: rgb(43, 43, 43);
            }
        }
        .masDetalles{
            list-style: none;
            li{
                padding: 10px 10px 10px;
                &:hover {
                    text-shadow: 1px 1px 2px rgb(79, 79, 79);
                } 
            
            }
        }
    
    
  /* ------------------ */
.main-productos{
font-size: 1rem !important}

#cat-producto{
  font-size: 13px;
  background-color: rgb(68, 67, 67) !important;}
#cat-producto div button{
  height: 30px !important;
  font-size: 13px !important;
  border: none !important;}
#cat-producto div button a h1{
  font-size: 13px !important;
  }
  .hover:hover{
    color: rgb(255,204,16) !important;
}
.hoverActivo{
    color: rgb(255,204,16) !important;
}

          /* ------------------------           */

      